.toolbar-logo {
  height: 105px;
  width: auto;
  margin-right: 10px;
}

.toolbar-name {
  margin-left: 10px;
}


.table-with-border {
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
}

.table-with-border th {
  position: sticky;
  top: 56px;
  z-index: 1;
}

.table-with-border th, .table-with-border td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-with-border tr:nth-child(even) {
  background-color: var(--even-row-bg-color);
}

.table-with-border tr:nth-child(odd) {
  background-color: var(--odd-row-bg-color);
}

th[columnResize], td[columnResize] {
  position: relative;
}

th[columnResize]::after, td[columnResize]::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
}
.table-container.mat-elevation-z8 {
  overflow-x: auto;
  max-width: 100%;
}

mat-paginator {
  position: sticky;
  bottom: 0;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.github-icon {
  padding: 0 14px;
  color: #f2f2f2;
}

.spacer {
  flex: 1 1 auto;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

footer .row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
}

footer .row-container > div {
  text-align: center;
}

.footer-social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.footer-social-links li {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 55%;
  transition: border-color 0.3s;
}

.footer-social-links li:hover {
  border-color: cyan;
}

.footer-social-links li:hover i {
  color: cyan;
  transform: scale(1.3);
  transition: all ease 0.3s;
}

.footer-social-links a {
  color: #fff;
}

.footer-social-links li:hover a {
  border-color: cyan;
}

.izibank-logo {
  height: 100px;
  width: auto;
  margin-left: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
}


.sportbank-logo {
  height: 50px;
  width: auto;
  margin-left: 25px;
}

.fund-logo {
  height: 70px;
  width: auto;
  margin-left: 30px;

}

.licence {
  font-size: 12px;
  line-height: 0.4;
}

.funds {
  font-size: 13px;
  line-height: 0.4;
  margin-left: 25px;
}

main {
  padding-top: calc(64px + 20px);
  margin-top: -259px;
}

.ThemeToggle {
  appearance: none;
  width: 50px; /* Увеличим ширину для более крупного вида */
  height: 26px; /* Увеличим высоту для более крупного вида */
  background-color: #ddd;
  border-radius: 20px; /* Увеличим радиус для более круглого вида */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 150px;
}

/* Стили для визуального отображения переключателя */
.ThemeToggle::after {
  content: '';
  width: 22px; /* Уменьшим размер кнопки для более круглого вида */
  height: 22px; /* Уменьшим размер кнопки для более круглого вида */
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.ThemeToggle:checked {
  background-color: #4CAF50;
}

.ThemeToggle:checked::after {
  left: calc(100% - 24px);
}
header {
  height: 280px;
}


.theme-toggle-container {
  display: flex;
  align-items: center;
}

.ThemeToggle {
  margin-right: 8px;
}


.mat-column-id {
  width: 58px;
}

.mat-column-date {
  width: 287px;
}

.mat-column-date mat-label {
  margin-bottom: 20px;
}

.mat-column-symbol {
  width: 250px;
}

.mat-column-costs {
  width: 250px;
}

.mat-column-name {
  width: 250px;
}

.mat-column-agreed {
  width: 200px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
}

.fa-solid {
  cursor: pointer;
  transition: color 0.3s ease;
}


.fa-check {
  color: lawngreen;
  font-size: 20px;
  cursor: pointer;
}

.fa-check:hover {
  color: darkgreen;
}

.fa-trash-can {
  color: red;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.fa-trash-can:hover {
  color: darkred;
  transform: scale(1.3);
  transition: all ease 0.3s;
}

.fa-xmark {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.fa-pen-to-square {
  color: #007FFF;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.fa-pen-to-square:hover {
  color: blue;
  transform: scale(1.3);
  transition: all ease 0.3s;
}

.green-row {
  background-color: lightgreen;
}

.fa-check {
  margin-left: 6px;
}

.fa-xmark {
  color: red;
}

.fa-xmark:hover {
  color: darkred;
}

body {
  padding: 50px;
}

.switch {
  display: inline-block;
  position: relative;
  transform: scale(0.6);
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  background-color: #2B2B2B;
  border: 5px solid #5B5B5B;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7B7B7B;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;

  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #FFFFFF;
    border-radius: 9999px;
  }

  &::before {
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    background-color: #FFFFFF;
    opacity: 0.6;
  }

  &::after {
    bottom: 8px;
    right: 6px;
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    opacity: 0.8;
  }
}

.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 9999px;
  }

  &::before {
    top: -20px;
    left: 10px;
    opacity: 1;
    animation: twinkle 0.6s infinite;
  }

  &::after {
    top: -7px;
    left: 30px;
    animation: twinkle 0.6s infinite -0.2s;
  }
}

@keyframes twinkle {
  50% { opacity: 0.2; }
}

.switch__indicator {
  &,
  &::before,
  &::after {
    transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
  }
}

.switch__input:checked + .switch__label {
  background-color: #8FB5F5;
  border-color: #347CF8;

  .switch__indicator {
    background-color: #ECD21F;
    box-shadow: none;
    transform: translate(-50%, -50%) translateX(72%);

    &::before,
    &::after {
      display: none;
    }
  }

  .switch__decoration {
    top: 50%;
    transform: translate(0%, -50%);
    animation: cloud 8s linear infinite;

    width: 20px;
    height: 20px;

    &::before {
      width: 10px;
      height: 10px;
      top: auto;
      bottom: 0;
      left: -8px;
      animation: none;
    }

    &::after {
      width: 15px;
      height: 15px;
      top: auto;
      bottom: 0;
      left: 16px;
      animation: none;
    }

    &,
    &::before,
    &::after {
      border-radius: 9999px 9999px 0 0;
    }

    &::after {
      border-bottom-right-radius: 9999px;
    }
  }
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

header span {
  font-size: 23px;
  font-family: "Times New Roman", serif;
}
