.toolbar-logo {
  height: 105px;
  width: auto;
  margin-right: 10px;
}

.toolbar-name {
  margin-left: 10px;
}


.table-with-border {
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
}

.table-with-border th {
  position: sticky;
  top: 56px;
  z-index: 1;
}

.table-with-border th, .table-with-border td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-with-border tr:nth-child(even) {
  background-color: var(--even-row-bg-color);
}

.table-with-border tr:nth-child(odd) {
  background-color: var(--odd-row-bg-color);
}

th[columnResize], td[columnResize] {
  position: relative;
}

th[columnResize]::after, td[columnResize]::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
}
.table-container.mat-elevation-z8 {
  overflow-x: auto;
  max-width: 100%;
}

mat-paginator {
  position: sticky;
  bottom: 0;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;

}

.github-icon {
  padding: 0 14px;
  color: #f2f2f2;
}

.spacer {
  flex: 1 1 auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

footer .row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
}

footer .row-container > div {
  text-align: center;
}

.footer-social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.footer-social-links li {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 50%;
  transition: border-color 0.3s;
}

.footer-social-links li:hover {
  border-color: cyan;
}

.footer-social-links li:hover i {
  color: cyan;
}

.footer-social-links a {
  color: #fff;
}

.footer-social-links li:hover a {
  border-color: cyan;
}

.izibank-logo {
  height: 100px;
  width: auto;
  margin-left: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
}


.sportbank-logo {
  height: 50px;
  width: auto;
  margin-left: 25px;
}

.fund-logo {
  height: 70px;
  width: auto;
  margin-left: 30px;

}

.licence {
  font-size: 12px;
  line-height: 0.4;
}

.funds {
  font-size: 13px;
  line-height: 0.4;
  margin-left: 25px;
}

main {
  padding-top: calc(64px + 20px);
  margin-top: -259px;
}

.ThemeToggle {
  appearance: none;
  width: 50px; /* Увеличим ширину для более крупного вида */
  height: 26px; /* Увеличим высоту для более крупного вида */
  background-color: #ddd;
  border-radius: 20px; /* Увеличим радиус для более круглого вида */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 150px;
}

/* Стили для визуального отображения переключателя */
.ThemeToggle::after {
  content: '';
  width: 22px; /* Уменьшим размер кнопки для более круглого вида */
  height: 22px; /* Уменьшим размер кнопки для более круглого вида */
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.ThemeToggle:checked {
  background-color: #4CAF50;
}

.ThemeToggle:checked::after {
  left: calc(100% - 24px);
}
header {
  height: 280px;
}
header span {
  font-size: 23px;
  font-family: "Times New Roman";
}

.theme-toggle-container {
  display: flex;
  align-items: center;
}

.ThemeToggle {
  margin-right: 8px;
}


.mat-column-id {
  width: 50px;
}

.mat-column-date {
  width: 260px;
}

.mat-column-date mat-label {
  margin-bottom: 20px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form{
  padding-bottom: 30px;
}
.primary{
  background: orange;
  color: white;
}

.date-block{
  display: flex;
}
.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}

