<div mat-dialog-title>
  <h4>Створення заяви</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="addForm">

    <div class="row">
      <mat-form-field>
        <mat-label>Назва заяви</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Витрати</mat-label>
        <input matInput type="number" formControlName="costs">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Позначення</mat-label>
        <input matInput type="text" formControlName="symbol">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Дата створення</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Юліанський календар</mat-label>
        <input matInput type="number" formControlName="julian">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="agreed">
        <mat-label><strong>Погодження:</strong></mat-label>
        <mat-radio-button value="Погоджено">Погоджено</mat-radio-button>
        <mat-radio-button value="Не погоджено">Не погоджено</mat-radio-button>
      </mat-radio-group>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" style="width: 204px" (click)="onSave()">Зберегти</button>
  <button mat-raised-button style="width: 204px" [mat-dialog-close]="false">Відміна</button>
</mat-dialog-actions>
