<div mat-dialog-title>
  <h4>Редагування заяви</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <div class="row">
      <mat-form-field>
        <mat-label>Назва заяви</mat-label>
        <input style="height: 50px" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Витрати</mat-label>
        <input style="height: 50px" matInput type="number" formControlName="costs">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Позначення</mat-label>
        <input style="height: 50px"  matInput type="text" formControlName="symbol">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Дата створення</mat-label>
        <input style="height: 50px" matInput [matDatepicker]="picker" formControlName="date" (dateChange)="updateJulianDate()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="agreed">
        <mat-label><strong>Погодження:</strong></mat-label>
        <mat-radio-button value="Погоджено">Погоджено</mat-radio-button>
        <mat-radio-button value="Не погоджено">Не погоджено</mat-radio-button>
      </mat-radio-group>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" style="width: 204px; height: 40px" (click)="onSave()">Зберегти</button>
  <button mat-raised-button style="width: 204px; height: 40px" [mat-dialog-close]="false">Відміна</button>
</mat-dialog-actions>
